doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title <%= projectName %>
    link(rel='stylesheet', href='index.css')
  body
    h1 Project: <%= projectName %> has installed !!
    br
    h2 Browser Sync Test
    input#myid(type='text', name='t001')
    br
    label
      input(type='radio', name='r')
      | radio1
    label
      input(type='radio', name='r')
      | radio2
    div(style='height: 3000px;')

    script(src='./app.js')
